<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Getting Started: Serving Web Content</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link rel="stylesheet" href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/plugins/css/bootstrap-select.min.css">

<script type="text/javascript" src="/webjars/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="/webjars/bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
<script type="text/javascript" src="/plugins/js/bootstrap-select.min.js"></script>
<script type="text/javascript" src="/plugins/js/underscore.js"></script>
<script type="text/javascript">
	function requestHtmlData() {
		 jQuery('#list').empty();
		 jQuery('#str').empty();
		
		var param = {}
		param["type"] 		= $("#type").val();
		param["url"] 		= $("#url").val();
		param["printCnt"]	= $("#printCnt").val();
		
		$.ajax({
			type : "GET",
			contentType : "application/json",
			url : "/htmls/read?",
			data : param,
			dataType : 'json',
			cache : false,
			timeout : 60000,
			success : function(data) {
				console.log(data);
				if(data.resultCode == 200){
					_.each(data.resultList, function(item) {
						$('#list').append('<tr><td>' + item + '</td></tr>');
					});
					$('#str').append('<tr><td>' + data.resultStr + '</td></tr>');
				} else if(data.resultCode == 400){
					alert("결과값이 존재 하지 않습니다.");
				} else if(data.resultCode == 500){
					alert("서버 오류!");
				}
			},
			error : function(e) {
				alert("오류 발생 : " + e);
				console.log(e);
			}
		});
	}
</script>
</head>
<body>
	<form>
		<div class="form-group">
			<label>Input URL</label> 
			<input class="form-control" type="text" placeholder="url input" id="url">
		</div>
		<div class="form-group">
			<label>SELECT TYPE</label> 
			<select class="form-control" id="type">
			  <option value="html" selected="selected">html</option>
			  <option value="txt">txt</option>
			</select>
		</div>
		
		<div class="form-group">
			<label>Input Group Count</label> 
			<input class="form-control" type="number" placeholder="number input" id="printCnt">
		</div>
	</form>

	<div class="modal-footer">
		<button type="button" class="btn btn-primary" onClick="requestHtmlData();">전송</button>
	</div>
	
	<form>
		<div class="form-group">
			<label>Output Group</label> 
			<table id="list">
			</table>
		</div>
		
		<div class="form-group">
			<label>Output String</label> 
			<table id="str">
			</table>
		</div>
	</form>
</body>
</html>
